/* manrope-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/manrope-v14-latin-regular.woff2') format('woff2');
}

/* manrope-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/manrope-v14-latin-500.woff2') format('woff2');
}

/* manrope-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/manrope-v14-latin-600.woff2') format('woff2');
}

/* manrope-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/manrope-v14-latin-700.woff2") format('woff2');
}

/* fredericka-the-great-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Fredericka the Great';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/fredericka-the-great-v16-latin-regular.woff2') format('woff2');
}

/* krylon-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Krylon';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Krylon-Regular.woff2') format('woff2');
}